.cardHeader{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    height: 100px;
    
}

.cardHeader > img{
    height: 50px;
    width: 50px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-right: 10px;
}
.bio{
    /* text-align: right; */
}
